.all {
    width: 100vw;

    .posts {
        margin-inline: 60px;
        margin-top: 50px;
    }

    .search-blog {
        display: flex;
        align-items: center;
        justify-content: left;
        border: 1px solid black;
        padding: 8px;
        margin: auto;
        width: 250px;
        gap: 10px;
        border-radius: 8px;
        margin-top: 30px;

        svg {
            width: 20px;
        }

        input {
            all: unset;
        }
    }
}